{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <h2>{{ object.name }}</h2>
  <p><strong>By</strong> {{ object.author.username }}</p>
  <p>
    <small>
      Created on {{ object.created_on }}<br>
      Last updated {{ object.updated_on }}
    </small>
  </p>

  <h3>Ingredients</h3>
  <ul>
    {% for ri in object.ingredients.all %}
      {% if ri.ingredient %}
        <li>{{ ri.quantity }} of {{ ri.ingredient.name }}</li>
      {% else %}
        <li>{{ ri.quantity }} of [deleted ingredient]</li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Images</h3>
  {% if object.images.all %}
    {% for img in object.images.all %}
      <img src="{{ img.image.url }}" alt="{{ img.description }}">
    {% endfor %}
  {% else %}
    <p>No images for this recipe yet.</p>
  {% endif %}

  <p>
    <a href="{% url 'ledger:recipe-add-image' pk=object.pk %}">
      Upload an image for this recipe
    </a>
  </p>

  <p>
    <a href="{% url 'ledger:recipe-list' %}">← Back to Recipe List</a>
  </p>
{% endblock %}